._fold_5 h1:before {
  content: '';
  background: rgb(40, 53, 147);
  width: 120px;
  height: 2px;
  position: absolute;
  /* top: 11%;
  left: 32%; */
  transform: translate(45%, 3rem);
 

}


.filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 0;
    left: 0;
    /* top: 3.28rem; */
    height: 2px;
    width: 100%;
    background-color: #291b8d;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
.slide-image img {
    min-width: 375px;
    height: 300px;
    object-fit: cover;
}

._fold_5 {
    position: relative;
}
.richHistory .slick-center {
    transform: scale(1);
}

@media screen and (max-width: 776px) {
    .richHistory .history-track {
        /* max-width: 500px !important;
        min-width: 320px !important; */
        width: 375px;
        /* margin-top: 8rem; */
        /* transform: scale(0.5); */
        margin: 3rem 2rem 0;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 776px) {
    .richHistory .history-track {
        max-width: 675px !important;
        margin-top: 0;
        transform: scale(0.5);
        transition: all 0.5s;
    }
    .richHistory .slick-center {
        transform: scale(1);
    }
    .slick-active:not(.slick-center) .history-content:first-child .history-content {
        display: none;
    }
    .richHistory .slick-center.slick-active {
        opacity: 1;
    }
    .richHistory .slick-active {
        opacity: 0.5;
    }

    li.slick-active {
        opacity: 1;
    }
    .richHistory .history-track:first-child {
        margin-left: 0;
    }
    .richHistory .history-track:last-child {
        margin-right: 0;
    }
}

.richHistory .history-content {
    /* height: 10rem; */
    /* min-height: 290px; */
    min-height: 200px;
    max-height: 300px;
    min-width: 300px;
    color: #fff;
    background-image: url('./INFINITYSIGN.png');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    /*    soft-light; */
    /* background-color: #28295d; */
    background-size: 200px 100px;
    background-color: #1f2641;
}

@media screen and (min-width: 1260px) {
    .richHistory .slick-dots {
        justify-content: center;
    }
}

.richHistory .slick-dots  {
    display: none !important;
   
} 

.cd-horizontal-timeline {
  opacity: 0;
  /* margin: 2em auto; */
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  /* margin: 0 40px; */
  overflow: auto;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  /* background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0)); */
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #11035e;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f;
}
.cd-horizontal-timeline .events a.selected {
  text-decoration: none;
  pointer-events: none;
}
.cd-horizontal-timeline .events a {
  text-decoration: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #1d1c74;
  border-color: #939cf1;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7b9d6f;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 0 auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
