.news-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.news-content {
    padding: 1rem 2rem;
    height: 15rem;
    color: #fff;
    background-color: #1f2641;
}

@media screen and (max-width: 450px) {
    .news-content {
        padding: 1rem 2rem;
        height: 19rem;
        color: #fff;
        background-color: #1f2641;
    }
}

/* @media screen and (max-width: 766px) and (min-width: 450px) {
    .news-content {
        padding: 1rem 2rem;
        height: 19rem;
        color: #fff;
        background-color: #1f2641;
    }
} */

.news-track {
    width: 446px;
    margin: 0.5rem;
}

._fold_6 {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.53)), url('./school.png');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 630px;
}

@media screen and  (max-width: 540px) {
    ._fold_6 {
       
        min-height: 650px;
    }
}

.news-text {
    font-family: 'sofiaPro';
    text-align: justify;
    font-size: 16px;
}

.news-title {
    /* font-family: 'Julius Sans'; */
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}




.slide-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.slide-arrow i {
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.50rem;
}

a.slide-arrow:hover {
    text-decoration: none;
}

.slide-arrow i:hover {
  border-color: azure;
}

._fold_6 h1:before {
    content: '';
    background: #fff;
    width: 250px;
    height: 2px;
        margin-bottom: -5px;
    position: absolute;
    /* top: 11%;
    left: 32%; */
    transform: translate(60%, 3rem);
   
 
}

@media screen and (min-width: 320px)  {
    /* ._fold_6 h1:before {
        top: 12%;
        left: 40%;
    } */
   


}

@media screen and (max-width: 540px)  {
    ._fold_6 h1{
       font-size: 2.5rem;
    }
    ._fold_6 h1:before {
        transform: translate(-18%, 3rem)
    }
   


}