._fold_5 h1:before {
    content: '';
    background: rgb(40, 53, 147);
    width: 120px;
    height: 4px;
    position: absolute;
    /* top: 11%;
    left: 32%; */
    transform: translate(45%, 3rem);
   
  
  }

  
._fold_5::after {
    z-index: 1;
    content: '';
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    top: 0;
    background: linear-gradient(-45deg, #f7f7f7 50%, rgba(0, 0, 0, 0.02) 50%);
    left: 5%;
    cursor: pointer;
    -webkit-transform: translate(-50%) skew(40deg) scaleX(1);
    transform: translate(-50%) skew(40deg) scaleX(1);
    transition: width .36s cubic-bezier(.175, .885, .32, 1.275);
}
a.timeline-next:hover, a.timeline-prev:hover {
  border-radius: 50%;
  background-color: var(--blue);
  box-shadow: -3px 5px 3px 1px rgba(72, 73, 77, 0.271);
}

a.timeline-next i, a.timeline-prev i {
  border: 2px solid #000;
  border-radius: 50%;
  padding: 0.50rem;
}

a.slide-arrow:hover i, a.timeline-next:hover i, a.timeline-prev:hover i {
background-color: var(--blue);
border: 2px solid #fff;
color: #fff;
box-shadow: -3px 5px 3px 1px rgba(72, 73, 77, 0.271);
}
  
  
  .filling-line {
      /* this is used to create the green line filling the timeline */
      position: absolute;
      z-index: 0;
      left: 0;
      /* top: 3.28rem; */
      height: 2px;
      width: 100%;
      background-color: #291b8d;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -ms-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }
  .slide-image img {
      min-width: 375px;
      height: 300px;
      object-fit: cover;
  }

  .slide-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .slide-text {
    font-family: 'sofiaPro';
    text-align: justify;
    font-size: 16px;
  }
  
  ._fold_5 {
      position: relative;
  }
  .richHistory .slick-center {
      transform: scale(1);
  }
  
  @media screen and (max-width: 776px) {
      .richHistory .history-track {
          /* max-width: 500px !important;
          min-width: 320px !important; */
          width: 375px;
          /* margin-top: 8rem; */
          /* transform: scale(0.5); */
          margin: 3rem 2rem 0;
          transition: all 0.5s;
      }
  }
  
  @media screen and (min-width: 776px) {
      .richHistory .history-track {
          max-width: 675px !important;
          margin-top: 0;
          transform: scale(0.5);
          transition: all 0.5s;
      }
      .richHistory .slick-center {
          transform: scale(1);
      }
      .slick-active:not(.slick-center) .history-content:first-child .history-content {
          display: none;
      }
      .richHistory .slick-center.slick-active {
          opacity: 1;
      }
      .richHistory .slick-active {
          opacity: 0.5;
      }
  
      li.slick-active {
          opacity: 1;
      }
      .richHistory .history-track:first-child {
          margin-left: 0;
      }
      .richHistory .history-track:last-child {
          margin-right: 0;
      }
  }
  
  .richHistory .history-content {
      /* height: 10rem; */
      /* min-height: 290px; */
      padding: 1rem 2rem;
      min-height: 200px;
      max-height: 300px;
      min-width: 300px;
      color: #fff;
      background-image: url('./INFINITYSIGN.png');
      background-repeat: no-repeat;
      background-position: center;
      background-blend-mode: soft-light;
      /*    soft-light; */
      /* background-color: #28295d; */
      background-size: 200px 100px;
      background-color: #1f2641;
  }
  
  @media screen and (min-width: 1260px) {
      .richHistory .slick-dots {
          justify-content: center;
      }
  }
  
  .richHistory .slick-dots  {
      display: none !important;
     
  } 
  
  .slick-timeline-dots {
    opacity: 1;
    /* margin: 2em auto; */
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .slick-timeline-dots::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
  }
 
  .slick-timeline-dots .timeline {
    position: relative;
    height: 100px;
    /* width: 90%;
    max-width: 1200px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    width: 100%;
  }
  .slick-timeline-dots .dots-container {
    position: relative;
    height: 100%;
    width: 100%;
    /* margin: 0 40px; */
    overflow: auto;
  }
  .slick-timeline-dots .dots-container::after, .slick-timeline-dots .dots-container::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
  }
  .slick-timeline-dots .dots-container::before {
    left: 5px;
    content: '';
    /* top: 43px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s; */
  }
  .slick-timeline-dots .dots-container::after {
    right: 0;
    /* top: 43px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s; */
  }
  .slick-timeline-dots .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .slick-timeline-dots .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #11035e;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .slick-timeline-dots .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #383838;
    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .slick-timeline-dots .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .no-touch .slick-timeline-dots .events a:hover::after {
    background-color: #7b9d6f;
    border-color: #7b9d6f;
  }
  .slick-timeline-dots .events a.selected {
    text-decoration: none;
    pointer-events: none;
  }
  .slick-timeline-dots .events a {
    text-decoration: none;
  }
  .slick-timeline-dots .events a.selected::after {
    background-color: #1d1c74;
    border-color: #939cf1;
  }
  .slick-timeline-dots .events a.older-event::after {
    border-color: #7b9d6f;
  }
  @media only screen and (min-width: 1100px) {
    .slick-timeline-dots {
      margin: 0 auto;
    }
    .slick-timeline-dots::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }
  